* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #F3F8FC;
    overflow-x: hidden;
}


/* RESPONSIVE VERSION */


/* NAVBAR */

.navbar {
    /* background-color: #F3F8FC; */
    top: 0;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus,
.navbar .navbar-nav .nav-link.active:focus::after {
    font-weight: 500;
}

.navbar-brand img {
    margin-top: 10px;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
}

.floatingNav {
    border-radius: 2px;
    box-shadow: 0px 1px 10px #999;
}

.navbar.bg {
    background-color: #F3F8FC;
}

.navbar .navbar-collapse .navbar-nav a {
    color: #486189;
    font-weight: 400;
}


/* JUMBOTRON */

.jumbotron {
    /* margin-top: 82px; */
    background-image: url(/assets/img/jumbotron-8.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -10px;
    height: 482px;
    border-radius: unset;
    overflow: hidden;
}

.jumbo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jumbo h2 {
    font-weight: bold;
    color: #486189;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

.jumbo h4 {
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.jumbo h2,
.jumbo h4 {
    text-align: center;
}

.profile-photo {
    display: flex;
    justify-content: center;
}

.profile-photo img {
    height: 50%;
    width: 50%;
    border-radius: 100%;
    border: 4px solid #F3F8FC;
    margin-top: 60px;
}

.tombol-jumbo {
    display: flex;
    justify-content: center;
}


/* INTRO */

.container-satu {
    margin-top: 120px;
}

.konten-satu-1 h2,
.konten-satu-1 h4 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tombol {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 30px auto;
}

.btn.view-portofolio {
    background-color: transparent;
    width: 150px;
    height: 50px;
    color: #627AA6;
    border-radius: 6px;
    border-color: #627AA6;
    margin-right: 20px;
    font-size: 14px;
}

.btn.download-resume {
    background-color: #627AA6;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 6px;
    font-size: 14px;
}

.konten-satu-2 {
    justify-content: center;
    display: flex;
}

.konten-satu-2 img {
    width: 60%;
    height: 60%;
    border-radius: 100%;
}

.konten-satu-1 h2 {
    font-weight: bold;
    color: #486189;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

.konten-satu-1 h4 {
    font-weight: lighter;
    /* color: #486189; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* ABOUT ME */

.about-me {
    text-align: center;
    margin: 100px auto;
}

.about-me h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #486189;
    font-size: 28px;
}

.about-me p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.about-me img {
    display: none;
    border-radius: 100%;
}

.col-lg.left,
.col-lg.right {
    opacity: 0;
    transition: 1s;
}

.col-lg.left {
    transform: translate(-50px, 0);
}

.col-lg.right {
    transform: translate(50px, 0);
}

.col-lg.left.show,
.col-lg.right.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* MY SKILL */

.mySkill-heading {
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.mySkill-heading h2 {
    color: #486189;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

.mySkill-body {
    flex-direction: column;
}

.card-deck,
.card-deck-coding,
.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    width: 30%;
    margin: 20px auto;
}

.card-body {
    text-align: center;
}

.design h4,
.coding h4 {
    font-family: 'Open Sans', sans-serif;
    color: #627AA6;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.card h5 {
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #627AA6;
}

.col.design,
.col.coding {
    opacity: 0;
    transition: 1s;
}

.col.design {
    transform: translate(-50px, 0);
}

.col.coding {
    transform: translate(50px, 0);
}

.col.design.show,
.col.coding.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* MY SERVICES */

.myService {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.myService h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #627AA6;
    text-align: center;
    font-size: 28px;
}

.card-body h4 {
    text-align: center;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.card-body p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.card-service {
    width: 80%;
}

.iconify {
    margin: 0 auto;
}

.card.card-service {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.card.card-service.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* TIMELINE */

.timeline-heading {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.timeline-heading h2 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: #486189;
    font-size: 28px;
}

.direction-l,
.direction-r {
    opacity: 0;
    transition: 1s;
}

.direction-l {
    transform: translate(-50px, 0);
}

.direction-r {
    transform: translate(50px, 0);
}

.direction-l.show,
.direction-r.show {
    opacity: 1;
    transform: translate(0, 0);
    z-index: 99;
}


/* PORTFOLIO */

.row-enam-heading {
    display: flex;
    justify-content: center;
}

.row-enam-heading h2 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: #486189;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 28px;
}

.thumbnail {
    position: relative;
    width: 60%;
    border-radius: 6%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: box-shadow 0.35s ease;
    transition: box-shadow 0.35s ease;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.gallery {
    flex-direction: column;
    justify-content: center;
}

.thumbnail__container {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.thumbnail__container.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* LIMITED LINE */

.divider {
    margin: 10px auto;
}

.divider hr {
    border-width: thin;
}


/* CONTACT */

.contact-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contact-heading h2 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: #486189;
    font-size: 28px;
}

.contact-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-info h5 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0;
}

.category h6 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #486189;
}

.category p {
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.contact-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.col.contact-left,
.col.contact-right {
    opacity: 0;
    transition: 1s;
}

.col.contact-left {
    transform: translate(-50px, 0);
}

.col.contact-right {
    transform: translate(50px, 0);
}

.col.contact-left.show,
.col.contact-right.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* FOOTER */

.footer {
    background-color: #486189;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.footer h3 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    letter-spacing: .2em;
}


/* DESKTOP VERSION */

@media (min-width: 992px) {
    /* NAVBAR */
    .nav-link {
        margin-right: 30px;
    }
    .nav-link:last-of-type {
        margin-right: 0;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #486189;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.active:focus,
    .navbar .navbar-nav .nav-link.active:focus::after {
        content: '';
        display: block;
        border-bottom: 3px solid #486189;
        font-weight: 500;
        margin: auto;
        padding-bottom: 5px;
        margin-right: 30px;
        /* margin-bottom: -8px; */
        /* width: 100%; */
    }
    /* JUMBOTRON */
    .jumbotron {
        height: 550px;
    }
    .jumbo h2 {
        font-size: 32px;
    }
    .jumbo h4 {
        font-size: 24px;
    }
    .profile-photo img {
        height: 20%;
        width: 20%;
        border-radius: 100%;
        margin-bottom: 20px;
    }
    /* INTRO */
    button {
        margin: 20px 0;
    }
    .btn {
        border: 1px solid black;
    }
    .tombol {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
    }
    .btn.view-portofolio {
        background-color: transparent;
        width: 200px;
        height: 50px;
        color: #627AA6;
        border-radius: 6px;
        border-color: #627AA6;
        margin-right: 20px;
        font-size: 16px;
    }
    .btn.view-portofolio:hover {
        background-color: #627AA6;
        color: white;
    }
    .btn.download-resume {
        background-color: #627AA6;
        color: white;
        width: 200px;
        height: 50px;
        border-radius: 6px;
        border: none;
        font-size: 16px;
    }
    /* ABOUT ME */
    .about-me {
        text-align: left;
    }
    .about-me h2 {
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        color: #486189;
        font-size: 32px;
    }
    .about-me p {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 24px;
    }
    .about-me img {
        display: block;
        transform: scaleX(-1);
        border-radius: 100%;
        border: 4px solid #486189;
        margin: auto;
    }
    /* MY SKILL */
    .mySkill-body {
        flex-direction: row;
    }
    .mySkill-heading {
        margin-bottom: 50px;
    }
    .mySkill-heading h2 {
        font-size: 32px;
    }
    .design h4,
    .coding h4 {
        font-size: 24px;
        margin-top: 20px;
    }
    /* MY SERVICES */
    .card-body {
        cursor: pointer;
    }
    .card-service {
        width: 100%;
    }
    .card-service:hover {
        transform: scale(1.1);
        z-index: 99;
        box-shadow: 2px 2px 30px #aaaaaa;
    }
    .iconify {
        display: inline-block;
        margin: 0 auto;
    }
    .myService h2 {
        font-size: 32px;
    }
    /* TIMELINE @ timeline.css */
    .timeline-heading h2 {
        font-size: 32px;
    }
    /* PORTFOLIO */
    .row-enam-heading h2 {
        font-size: 32px;
    }
    .gallery {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .thumbnail {
        position: relative;
        width: 30%;
        border-radius: 6%;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.8);
        overflow: hidden;
        cursor: pointer;
        -webkit-transition: box-shadow 0.35s ease;
        transition: box-shadow 0.35s ease;
        margin: 20px 0;
        /* Hover transition */
    }
    /* LIMITED LINE */
    .divider {
        margin: 100px auto;
    }
    .divider hr {
        border-width: medium;
    }
    /* CONTACT */
    .contact-heading {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .contact-heading h2 {
        font-size: 32px;
    }
    .contact-body {
        justify-content: space-between;
        margin-bottom: 100px;
        flex-direction: row;
    }
    .contact-left {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .contact-right {
        justify-content: right;
        flex-direction: row-reverse;
    }
    .category {
        margin: 5px 0;
    }
}