* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #F3F8FC;
    overflow-x: hidden;
}


/* RESPONSIVE VERSION */


/* NAVBAR */

.navbar {
    /* background-color: #F3F8FC; */
    top: 0;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus,
.navbar .navbar-nav .nav-link.active:focus::after {
    font-weight: 500;
}

.navbar-brand img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
}

.floatingNav {
    border-radius: 2px;
    box-shadow: 0px 1px 10px #999;
}

.navbar.bg {
    background-color: #F3F8FC;
}

.navbar .navbar-collapse .navbar-nav a {
    color: #486189;
    font-weight: 400;
}


/* JUMBOTRON */

.jumbotron {
    /* margin-top: 82px; */
    background-image: url(/assets/img/jumbotron-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px -100px;
    height: 200px;
    border-radius: unset;
    overflow: hidden;
}

.jumbo {
    display: flex;
    justify-content: center;
}

.jumbo h2 {
    font-weight: bold;
    color: #486189;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    margin: 70px auto;
    text-align: center;
}


/* ABOUT */

.about-me {
    text-align: center;
    margin: 50px auto;
}

.about-me p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 20px auto;
}

.about-me img {
    display: block;
    transform: scaleX(-1);
    width: 50%;
    height: 100%;
    border-radius: 100%;
    border: 4px solid #486189;
    margin: auto;
}

.btn.view-portofolio {
    background-color: transparent;
    width: 150px;
    height: 50px;
    color: #627AA6;
    border-radius: 6px;
    border-color: #627AA6;
    margin-right: 20px;
    font-size: 14px;
}

.btn.view-portofolio:hover {
    background-color: #627AA6;
    color: white;
}

.col-lg.left,
.col-lg.right {
    opacity: 0;
    transition: 1s;
}

.col-lg.left {
    transform: translate(-50px, 0);
}

.col-lg.right {
    transform: translate(50px, 0);
}

.col-lg.left.show,
.col-lg.right.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* EDUCATION, EXPERIENCE, ORGANIZATION */

.about-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
}

.edu h1,
.exp h1,
.org h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #486189;
    text-align: center;
}

.edu h2,
.exp h2,
.org h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #486189;
}

.edu p,
.exp p,
.org p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.col.edu,
.col.exp,
.col.org {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.col.edu.show,
.col.exp.show,
.col.org.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* MY SKILL */

.mySkill-heading {
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.mySkill-heading h2 {
    color: #486189;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

.mySkill-body {
    flex-direction: column;
}

.card-deck,
.card-deck-coding,
.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    width: 30%;
    margin: 20px auto;
}

.card-body {
    text-align: center;
}

.design h4,
.coding h4 {
    font-family: 'Open Sans', sans-serif;
    color: #627AA6;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.card h5 {
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #627AA6;
}

.col.design,
.col.coding {
    opacity: 0;
    transition: 1s;
}

.col.design {
    transform: translate(-50px, 0);
}

.col.coding {
    transform: translate(50px, 0);
}

.col.design.show,
.col.coding.show {
    opacity: 1;
    transform: translate(0, 0);
}


/* FOOTER */

.footer {
    background-color: #486189;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 100px;
}

.footer h3 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    letter-spacing: .2em;
}


/* DESKTOP VERSION */

@media (min-width: 992px) {
    /* NAVBAR */
    .nav-link {
        margin-right: 30px;
    }
    .nav-link:last-of-type {
        margin-right: 0;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #486189;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.active:focus,
    .navbar .navbar-nav .nav-link.active:focus::after {
        content: '';
        display: block;
        border-bottom: 3px solid #486189;
        font-weight: 500;
        margin: auto;
        padding-bottom: 5px;
        margin-right: 30px;
        /* margin-bottom: -8px; */
        /* width: 100%; */
    }
    /* JUMBOTRON */
    .jumbotron {
        height: 350px;
    }
    .jumbo h2 {
        font-size: 52px;
        margin: 160px auto;
    }
    /* ABOUT ME */
    .about-me {
        text-align: left;
        margin: 100px auto;
    }
    .about-me p {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 24px;
    }
    .about-me img {
        display: block;
        transform: scaleX(-1);
        width: 50%;
        height: 100%;
        border-radius: 100%;
        border: 4px solid #486189;
        margin: auto;
    }
    /* EDUCATION, EXPERIENCE, ORGANIZATION */
    .about-main {
        flex-direction: row;
    }
    /* MY SKILL */
    .mySkill-body {
        flex-direction: row;
    }
    .mySkill-heading {
        margin-bottom: 50px;
    }
    .mySkill-heading h2 {
        font-size: 32px;
    }
    .design h4,
    .coding h4 {
        font-size: 24px;
        margin-top: 20px;
    }
}